# COVID - 19

## Definições
### COVID - 19: "A Covid-19 é uma infecção respiratória aguda causada pelo coronavírus SARS-CoV-2, potencialmente grave, de elevada transmissibilidade e de distribuição global" (Ministério da Saúde, 2021).

### PNAD ( Pesquisa Nacional por Amostra de Domicílios) - COVID 19

### "Objetiva estimar o número de pessoas com sintomas referidos associados à síndrome gripal e monitorar os impactos da pandemia da COVID-19 no mercado de trabalho brasileiro" (IBGE.2020).

A coleta da Pesquisa Nacional por Amostra de Domicílios - PNAD COVID19 teve início em 4 de maio de 2020, com entrevistas realizadas por telefone em, aproximadamente, 48 mil domicílios por semana, totalizando cerca de 193 mil domicílios por mês, em todo o Território Nacional. A amostra é fixa, ou seja, os domicílios entrevistados no primeiro mês de coleta de dados permanecerão na amostra nos meses subsequentes, até o fim da pesquisa.

O questionário se divide em duas partes, sendo uma direcionada a questões de saúde, especificamente sobre sintomas associados à síndrome gripal e outra, a questões de trabalho. Nas questões de saúde, investiga-se a ocorrência de alguns dos principais sintomas da COVID19 no período de referência da pesquisa, considerando-se todos os moradores do domicílio.

### Critérios: 

### Parte 1 - Identificação e Controle
#### 1 - A unidade territorial (UF).
#### 2 - Mês da pesquisa para este estudo serão Julho, Agosto, Setembro, Outubro e Novembro  de 2020 (V1013).
#### 3 - Situação do domicílio  - Urbana e Rural (V1022)

### Parte A - Característica gerais dos Moradores
#### 4 - Idade do Morador (A002)
#### 5 - Sexo (A003)
#### 6 - Cor ou Raça (A004)

### Parte B - COVID19 - Todos os Moradores
#### Sintomas: 
##### 7 - Na semana passada teve febre? * (B0011)
##### 8 - Na semana passada teve tosse? * (B0012)
##### 9 - Na semana passada teve dificuldade para respirar? * (B0014)
##### 10 - Na semana passada teve perda de cheiro ou sabor? * (B00111)


#### Plano de Saúde
##### 11 - Tem algum plano de saúde médico, seja particular, de empresa ou de órgão público (B007)
##### 12 - O(A) Sr(a) fez algum teste para saber se estava infectado(a) pelo coronavírus? * (B008)

### Parte C - Características de trabalho das pessoas acima de 14 anos.
#### Trabalho
##### 13 - Há quanto tempo está afastado desse trabalho? (C005)
##### 14 - No trabalho (único ou principal) que tinha nessa semana, era: (C007)
##### 15 - Qual o principal motivo deste afastamento temporário? (C003)

# Aplicação do Estudo

## Importação da biblioteca PANDAS para leitura e manipulação dos dados

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
plt.rc('figure', figsize = (14,6))

## Visualização dos dados no período Julho, Agosto, Setembro, Outubro e Novembro de 2020

In [2]:
jul2020 = pd.read_csv('dados/PNAD_COVID_072020.csv', sep = ',')
ago2020 = pd.read_csv('dados/PNAD_COVID_082020.csv', sep = ',')
set2020 = pd.read_csv('dados/PNAD_COVID_092020.csv', sep = ',')
out2020 = pd.read_csv('dados/PNAD_COVID_102020.csv', sep = ',')
nov2020 = pd.read_csv('dados/PNAD_COVID_112020.csv', sep = ',')

In [3]:
#Visualiza os 10 primeiros registros.
jul2020.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
1,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
2,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
3,2020,11,11.0,NaN,1,4,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,2.0
4,2020,11,11.0,NaN,2,1,7,3,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0

In [4]:
#Visualiza os 10 primeiros registros.
ago2020.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,8,4,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,8,4,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,8,4,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,8,4,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,8,4,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0

In [5]:
#Visualiza os 5 primeiros registros.
set2020.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,9,5,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0

In [6]:
#Visualiza os 5 primeiros registros.
out2020.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,10,6,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0

In [7]:
#Visualiza os 5 primeiros registros.
nov2020.head()

,Ano,UF,CAPITAL,RM_RIDE,V1008,V1012,V1013,V1016,Estrato,UPA,...,F001,F0021,F0022,F002A1,F002A2,F002A3,F002A4,F002A5,F0061,F006
0,2020,11,11.0,NaN,1,4,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
1,2020,11,11.0,NaN,1,4,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
2,2020,11,11.0,NaN,1,4,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
3,2020,11,11.0,NaN,1,4,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0
4,2020,11,11.0,NaN,2,1,11,7,1110011,110015970,...,1,NaN,NaN,1,1,1,2,1,1,1.0

## Tratando e Modelando os dados que serão utilizados no estudo

### --> Julho/2020

In [8]:
# Constroi o DataFrame com as colunas selecionadas para o mês de Julho.
df_jul2020 = pd.DataFrame(jul2020,columns = ['UF', 'V1013', 'V1022', 'A002', 'A003', 'A004', 'B0011', 'B0012', 'B0014',
                                             'B00111','B007','B008', 'C005', 'C007', 'C003'])

# Renomear as colunas
df_jul2020 = df_jul2020.rename(columns = {'UF':'Estado', 
                                          'V1013':'Mes',
                                          'V1022':'Area',
                                          'A002':'Idade_Morador', 
                                          'A003':'Sexo',
                                          'A004':'Cor_Raca',
                                          'B0011':'Febre', 
                                          'B0012':'Tosse',
                                          'B0014':'Dific_respiratoria',
                                          'B00111':'Cheiro_sabor',
                                          'B007':'Plano_Saude',
                                          'B008':'Teste_Covid',
                                          'C005':'Tempo_afastamento', 
                                          'C007':'Carac_trabalho',
                                          'C003':'Motivo_afastamento'})

# Modelagem e Tratamento dos dados

## Substitui os valores numéricos dos Estados para a legenda apropriada a leitura do dado.
df_jul2020['Estado'] = df_jul2020['Estado'].map({11:'Rondônia', 12:'Acre', 13:'Amazonas', 
                                                       14:'Roraima', 15:'Pará',16:'Amapá', 
                                                       17:'Tocantins', 21:'Maranhão', 22:'Piauí', 
                                                       23: 'Ceará', 24:'Rio Grande do Norte', 25:'Paraíba', 
                                                       26:'Pernambuco', 27: 'Alagoas', 28: 'Sergipe', 
                                                       29: 'Bahia', 31:'Minas Gerais', 32: 'Espírito Santo', 
                                                       33:'Rio de Janeiro',35:'São Paulo', 41: 'Paraná', 
                                                       42: 'Santa Catarina', 43: 'Rio Grande do Sul', 50:'Mato Grosso do Sul', 
                                                       51:'Mato Grosso',52:'Goiás', 53: 'Distrito Federal'}, na_action=None)

## Substitui os valor numérico do Mês para a legenda apropriada a leitura do dado.
df_jul2020['Mes'] = df_jul2020['Mes'].map({7:'Julho'}, na_action=None)

## Substitui os valor da Área do município(Urbana ou Rural) para a legenda apropriada a leitura do dado.
df_jul2020['Area'] = df_jul2020['Area'].map({1:'Urbana', 2:'Rural'}, na_action=None)


## Substitui os valores numéricos do Sexo para a legenda apropriada a leitura do dado.
df_jul2020['Sexo'] = df_jul2020['Sexo'].map({1:'Homem', 2:'Mulher'}, na_action=None)

## Substitui os valores numéricos de Cor e Raça para a legenda apropriada a leitura do dado.
df_jul2020['Cor_Raca'] = df_jul2020['Cor_Raca'].map({1:'Branca', 2:'Preta', 3: 'Amarela', 
                                                    4: 'Parda', 5:'Indígena', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Febre para a legenda apropriada a leitura do dado.
df_jul2020['Febre'] = df_jul2020['Febre'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Tosse para a legenda apropriada a leitura do dado.
df_jul2020['Tosse'] = df_jul2020['Tosse'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Dificuldade respiratoria para a legenda apropriada a leitura do dado.
df_jul2020['Dific_respiratoria'] = df_jul2020['Dific_respiratoria'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)


## Substitui os valores numéricos sobre sintoma de perda de Cheiro ou sabor para a legenda apropriada a leitura do dado.
df_jul2020['Cheiro_sabor'] = df_jul2020['Cheiro_sabor'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre Plano de Saúde para a legenda apropriada a leitura do dado.
df_jul2020['Plano_Saude'] = df_jul2020['Plano_Saude'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre Teste de Covid para a legenda apropriada a leitura do dado.
df_jul2020['Teste_Covid'] = df_jul2020['Teste_Covid'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)


## Substitui os valores numéricos sobre Tempo de afastamento para a legenda apropriada a leitura do dado.
df_jul2020['Tempo_afastamento'] = df_jul2020['Tempo_afastamento'].map({1:'Menos de 1 mês', 
                                                           2:'De 1 mês a menos de 1 ano', 
                                                           3:'De 1 ano a menos de 2 anos', 
                                                           4:'2 anos ou mais',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Carac para a legenda apropriada a leitura do dado.
df_jul2020['Carac_trabalho'] = df_jul2020['Carac_trabalho'].map({1:'Trabalhador doméstico (empregado doméstico, cuidados, babá)',
                                                           2:'Militar do exercito, marinha ou aeronáutica', 
                                                           3:'Policial militar ou bombeiro mlilitar', 
                                                           4:'Empregado do setor privado',
                                                           5:'Empregado do setor público (inclusive empresas de economia mista)',
                                                           6:'Empregador',
                                                           7:'Conta própria',
                                                           8:'Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente',
                                                           9:'Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Motivo do afastamento para a legenda apropriada a leitura do dado.
df_jul2020['Motivo_afastamento'] = df_jul2020['Motivo_afastamento'].map({1:'Estava em quarentena, isolamento, distanciamento social ou férias coletivas', 
                                                                         2:'Férias, folga ou jornada de trabalho variável', 
                                                                         3:'Licença maternidade ou paternidade',
                                                                         4:'Licença remunerada por motivo de saúde ou acidente da própria pessoa',
                                                                         5:'Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.) ',
                                                                         6:'Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência',
                                                                         7:'Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)',
                                                                         8:'Outro motivo',
                                                                         np.nan:'Não aplicável'}, na_action=None)

# Cria o DataFrame do mês
df_jul2020

,Estado,Mes,Area,Idade_Morador,Sexo,Cor_Raca,Febre,Tosse,Dific_respiratoria,Cheiro_sabor,Plano_Saude,Teste_Covid,Tempo_afastamento,Carac_trabalho,Motivo_afastamento
0,Rondônia,Julho,Urbana,35,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Empregado do setor privado,Não aplicável
1,Rondônia,Julho,Urbana,29,Mulher,Parda,Não,Não,Não,Não,Não,Não,De 1 mês a menos de 1 ano,Não aplicável,"Estava em quarentena, isolamento, distanciamen..."
2,Rondônia,Julho,Urbana,13,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
3,Rondônia,Julho,Urbana,10,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
4,Rondônia,Julho,Urbana,57,Mulher,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384161,Distrito Federal,Julho,Rural,45,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Empregado do setor privado,Não aplicável
384162,Distrito Federal,Julho,Rural,22,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Conta própria,Não aplicável
384163,Distrito Federal,Julho,Rural,16,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
384164,Distrito Federal,Julho,Rural,83,Homem,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
384165,Distrito Federal,Julho,Rural,75,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável

### --> Agosto / 2020

In [9]:
# Constroi o DataFrame com as colunas selecionadas para o mês de Julho.
df_ago2020 = pd.DataFrame(ago2020,columns = ['UF', 'V1013', 'V1022', 'A002', 'A003', 'A004', 'B0011', 'B0012', 'B0014',
                                             'B00111','B007','B008', 'C005', 'C007', 'C003'])

# Renomear as colunas
df_ago2020 = df_ago2020.rename(columns = {'UF':'Estado', 
                                          'V1013':'Mes',
                                          'V1022':'Area',
                                          'A002':'Idade_Morador', 
                                          'A003':'Sexo',
                                          'A004':'Cor_Raca',
                                          'B0011':'Febre', 
                                          'B0012':'Tosse',
                                          'B0014':'Dific_respiratoria',
                                          'B00111':'Cheiro_sabor',
                                          'B007':'Plano_Saude',
                                          'B008':'Teste_Covid',
                                          'C005':'Tempo_afastamento', 
                                          'C007':'Carac_trabalho',
                                          'C003':'Motivo_afastamento'})

# Modelagem e Tratamento dos dados

## Substitui os valores numéricos dos Estados para a legenda apropriada a leitura do dado.
df_ago2020['Estado'] = df_ago2020['Estado'].map({11:'Rondônia', 12:'Acre', 13:'Amazonas', 
                                                       14:'Roraima', 15:'Pará',16:'Amapá', 
                                                       17:'Tocantins', 21:'Maranhão', 22:'Piauí', 
                                                       23: 'Ceará', 24:'Rio Grande do Norte', 25:'Paraíba', 
                                                       26:'Pernambuco', 27: 'Alagoas', 28: 'Sergipe', 
                                                       29: 'Bahia', 31:'Minas Gerais', 32: 'Espírito Santo', 
                                                       33:'Rio de Janeiro',35:'São Paulo', 41: 'Paraná', 
                                                       42: 'Santa Catarina', 43: 'Rio Grande do Sul', 50:'Mato Grosso do Sul', 
                                                       51:'Mato Grosso',52:'Goiás', 53: 'Distrito Federal'}, na_action=None)

## Substitui os valor numérico do Mês para a legenda apropriada a leitura do dado.
df_ago2020['Mes'] = df_ago2020['Mes'].map({8:'Agosto'}, na_action=None)

## Substitui os valor da Área do município(Urbana ou Rural) para a legenda apropriada a leitura do dado.
df_ago2020['Area'] = df_ago2020['Area'].map({1:'Urbana', 2:'Rural'}, na_action=None)


## Substitui os valores numéricos do Sexo para a legenda apropriada a leitura do dado.
df_ago2020['Sexo'] = df_ago2020['Sexo'].map({1:'Homem', 2:'Mulher'}, na_action=None)

## Substitui os valores numéricos de Cor e Raça para a legenda apropriada a leitura do dado.
df_ago2020['Cor_Raca'] = df_ago2020['Cor_Raca'].map({1:'Branca', 2:'Preta', 3: 'Amarela', 
                                                    4: 'Parda', 5:'Indígena', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Febre para a legenda apropriada a leitura do dado.
df_ago2020['Febre'] = df_ago2020['Febre'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Tosse para a legenda apropriada a leitura do dado.
df_ago2020['Tosse'] = df_ago2020['Tosse'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Dificuldade respiratoria para a legenda apropriada a leitura do dado.
df_ago2020['Dific_respiratoria'] = df_ago2020['Dific_respiratoria'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)


## Substitui os valores numéricos sobre sintoma de perda de Cheiro ou sabor para a legenda apropriada a leitura do dado.
df_ago2020['Cheiro_sabor'] = df_ago2020['Cheiro_sabor'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre Plano de Saúde para a legenda apropriada a leitura do dado.
df_ago2020['Plano_Saude'] = df_ago2020['Plano_Saude'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre Teste de Covid para a legenda apropriada a leitura do dado.
df_ago2020['Teste_Covid'] = df_ago2020['Teste_Covid'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)


## Substitui os valores numéricos sobre Tempo de afastamento para a legenda apropriada a leitura do dado.
df_ago2020['Tempo_afastamento'] = df_ago2020['Tempo_afastamento'].map({1:'Menos de 1 mês', 
                                                           2:'De 1 mês a menos de 1 ano', 
                                                           3:'De 1 ano a menos de 2 anos', 
                                                           4:'2 anos ou mais',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Carac para a legenda apropriada a leitura do dado.
df_ago2020['Carac_trabalho'] = df_ago2020['Carac_trabalho'].map({1:'Trabalhador doméstico (empregado doméstico, cuidados, babá)',
                                                           2:'Militar do exercito, marinha ou aeronáutica', 
                                                           3:'Policial militar ou bombeiro mlilitar', 
                                                           4:'Empregado do setor privado',
                                                           5:'Empregado do setor público (inclusive empresas de economia mista)',
                                                           6:'Empregador',
                                                           7:'Conta própria',
                                                           8:'Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente',
                                                           9:'Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Motivo do afastamento para a legenda apropriada a leitura do dado.
df_ago2020['Motivo_afastamento'] = df_ago2020['Motivo_afastamento'].map({1:'Estava em quarentena, isolamento, distanciamento social ou férias coletivas', 
                                                                         2:'Férias, folga ou jornada de trabalho variável', 
                                                                         3:'Licença maternidade ou paternidade',
                                                                         4:'Licença remunerada por motivo de saúde ou acidente da própria pessoa',
                                                                         5:'Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.) ',
                                                                         6:'Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência',
                                                                         7:'Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)',
                                                                         8:'Outro motivo',
                                                                         np.nan:'Não aplicável'}, na_action=None)

# Cria o DataFrame do mês
df_ago2020

,Estado,Mes,Area,Idade_Morador,Sexo,Cor_Raca,Febre,Tosse,Dific_respiratoria,Cheiro_sabor,Plano_Saude,Teste_Covid,Tempo_afastamento,Carac_trabalho,Motivo_afastamento
0,Rondônia,Agosto,Urbana,36,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Empregado do setor privado,Não aplicável
1,Rondônia,Agosto,Urbana,30,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Conta própria,Não aplicável
2,Rondônia,Agosto,Urbana,13,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
3,Rondônia,Agosto,Urbana,11,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
4,Rondônia,Agosto,Urbana,57,Mulher,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386515,Distrito Federal,Agosto,Rural,75,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
386516,Distrito Federal,Agosto,Rural,57,Mulher,Parda,Não,Não,Não,Não,Não,Sim,Não aplicável,Não aplicável,Não aplicável
386517,Distrito Federal,Agosto,Rural,52,Homem,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Empregado do setor privado,Não aplicável
386518,Distrito Federal,Agosto,Rural,23,Homem,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
386519,Distrito Federal,Agosto,Rural,5,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável

### --> Setembro / 2020

In [10]:
# Constroi o DataFrame com as colunas selecionadas para o mês de Julho.
df_set2020 = pd.DataFrame(set2020,columns = ['UF', 'V1013', 'V1022', 'A002', 'A003', 'A004', 'B0011', 'B0012', 'B0014',
                                             'B00111','B007','B008', 'C005', 'C007', 'C003'])

# Renomear as colunas
df_set2020 = df_set2020.rename(columns = {'UF':'Estado', 
                                          'V1013':'Mes',
                                          'V1022':'Area',
                                          'A002':'Idade_Morador', 
                                          'A003':'Sexo',
                                          'A004':'Cor_Raca',
                                          'B0011':'Febre', 
                                          'B0012':'Tosse',
                                          'B0014':'Dific_respiratoria',
                                          'B00111':'Cheiro_sabor',
                                          'B007':'Plano_Saude',
                                          'B008':'Teste_Covid',
                                          'C005':'Tempo_afastamento', 
                                          'C007':'Carac_trabalho',
                                          'C003':'Motivo_afastamento'})

# Modelagem e Tratamento dos dados

## Substitui os valores numéricos dos Estados para a legenda apropriada a leitura do dado.
df_set2020['Estado'] = df_set2020['Estado'].map({11:'Rondônia', 12:'Acre', 13:'Amazonas', 
                                                       14:'Roraima', 15:'Pará',16:'Amapá', 
                                                       17:'Tocantins', 21:'Maranhão', 22:'Piauí', 
                                                       23: 'Ceará', 24:'Rio Grande do Norte', 25:'Paraíba', 
                                                       26:'Pernambuco', 27: 'Alagoas', 28: 'Sergipe', 
                                                       29: 'Bahia', 31:'Minas Gerais', 32: 'Espírito Santo', 
                                                       33:'Rio de Janeiro',35:'São Paulo', 41: 'Paraná', 
                                                       42: 'Santa Catarina', 43: 'Rio Grande do Sul', 50:'Mato Grosso do Sul', 
                                                       51:'Mato Grosso',52:'Goiás', 53: 'Distrito Federal'}, na_action=None)

## Substitui os valor numérico do Mês para a legenda apropriada a leitura do dado.
df_set2020['Mes'] = df_set2020['Mes'].map({9:'Setembro'}, na_action=None)

## Substitui os valor da Área do município(Urbana ou Rural) para a legenda apropriada a leitura do dado.
df_set2020['Area'] = df_set2020['Area'].map({1:'Urbana', 2:'Rural'}, na_action=None)


## Substitui os valores numéricos do Sexo para a legenda apropriada a leitura do dado.
df_set2020['Sexo'] = df_set2020['Sexo'].map({1:'Homem', 2:'Mulher'}, na_action=None)

## Substitui os valores numéricos de Cor e Raça para a legenda apropriada a leitura do dado.
df_set2020['Cor_Raca'] = df_set2020['Cor_Raca'].map({1:'Branca', 2:'Preta', 3: 'Amarela', 
                                                    4: 'Parda', 5:'Indígena', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Febre para a legenda apropriada a leitura do dado.
df_set2020['Febre'] = df_set2020['Febre'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Tosse para a legenda apropriada a leitura do dado.
df_set2020['Tosse'] = df_set2020['Tosse'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Dificuldade respiratoria para a legenda apropriada a leitura do dado.
df_set2020['Dific_respiratoria'] = df_set2020['Dific_respiratoria'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)


## Substitui os valores numéricos sobre sintoma de perda de Cheiro ou sabor para a legenda apropriada a leitura do dado.
df_set2020['Cheiro_sabor'] = df_set2020['Cheiro_sabor'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre Plano de Saúde para a legenda apropriada a leitura do dado.
df_set2020['Plano_Saude'] = df_set2020['Plano_Saude'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre Teste de Covid para a legenda apropriada a leitura do dado.
df_set2020['Teste_Covid'] = df_set2020['Teste_Covid'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)


## Substitui os valores numéricos sobre Tempo de afastamento para a legenda apropriada a leitura do dado.
df_set2020['Tempo_afastamento'] = df_set2020['Tempo_afastamento'].map({1:'Menos de 1 mês', 
                                                           2:'De 1 mês a menos de 1 ano', 
                                                           3:'De 1 ano a menos de 2 anos', 
                                                           4:'2 anos ou mais',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Carac para a legenda apropriada a leitura do dado.
df_set2020['Carac_trabalho'] = df_set2020['Carac_trabalho'].map({1:'Trabalhador doméstico (empregado doméstico, cuidados, babá)',
                                                           2:'Militar do exercito, marinha ou aeronáutica', 
                                                           3:'Policial militar ou bombeiro mlilitar', 
                                                           4:'Empregado do setor privado',
                                                           5:'Empregado do setor público (inclusive empresas de economia mista)',
                                                           6:'Empregador',
                                                           7:'Conta própria',
                                                           8:'Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente',
                                                           9:'Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Motivo do afastamento para a legenda apropriada a leitura do dado.
df_set2020['Motivo_afastamento'] = df_set2020['Motivo_afastamento'].map({1:'Estava em quarentena, isolamento, distanciamento social ou férias coletivas', 
                                                                         2:'Férias, folga ou jornada de trabalho variável', 
                                                                         3:'Licença maternidade ou paternidade',
                                                                         4:'Licença remunerada por motivo de saúde ou acidente da própria pessoa',
                                                                         5:'Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.) ',
                                                                         6:'Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência',
                                                                         7:'Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)',
                                                                         8:'Outro motivo',
                                                                         np.nan:'Não aplicável'}, na_action=None)

# Cria o DataFrame do mês
df_set2020

,Estado,Mes,Area,Idade_Morador,Sexo,Cor_Raca,Febre,Tosse,Dific_respiratoria,Cheiro_sabor,Plano_Saude,Teste_Covid,Tempo_afastamento,Carac_trabalho,Motivo_afastamento
0,Rondônia,Setembro,Urbana,36,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Empregado do setor privado,Não aplicável
1,Rondônia,Setembro,Urbana,30,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Conta própria,Não aplicável
2,Rondônia,Setembro,Urbana,13,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
3,Rondônia,Setembro,Urbana,11,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
4,Rondônia,Setembro,Urbana,57,Mulher,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387293,Distrito Federal,Setembro,Rural,45,Mulher,Parda,Sim,Sim,Não,Não,Não,Sim,Não aplicável,Empregado do setor privado,"Estava em quarentena, isolamento, distanciamen..."
387294,Distrito Federal,Setembro,Rural,22,Mulher,Parda,Sim,Sim,Não,Não,Não,Sim,Não aplicável,Conta própria,"Estava em quarentena, isolamento, distanciamen..."
387295,Distrito Federal,Setembro,Rural,16,Mulher,Parda,Sim,Sim,Não,Não,Não,Sim,Não aplicável,Não aplicável,Não aplicável
387296,Distrito Federal,Setembro,Rural,83,Homem,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
387297,Distrito Federal,Setembro,Rural,75,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável

## --> Outubro / 2020

In [11]:
# Constroi o DataFrame com as colunas selecionadas para o mês de Julho.
df_out2020 = pd.DataFrame(out2020,columns = ['UF', 'V1013', 'V1022', 'A002', 'A003', 'A004', 'B0011', 'B0012', 'B0014',
                                             'B00111','B007','B008', 'C005', 'C007', 'C003'])

# Renomear as colunas
df_out2020 = df_out2020.rename(columns = {'UF':'Estado', 
                                          'V1013':'Mes',
                                          'V1022':'Area',
                                          'A002':'Idade_Morador', 
                                          'A003':'Sexo',
                                          'A004':'Cor_Raca',
                                          'B0011':'Febre', 
                                          'B0012':'Tosse',
                                          'B0014':'Dific_respiratoria',
                                          'B00111':'Cheiro_sabor',
                                          'B007':'Plano_Saude',
                                          'B008':'Teste_Covid',
                                          'C005':'Tempo_afastamento', 
                                          'C007':'Carac_trabalho',
                                          'C003':'Motivo_afastamento'})

# Modelagem e Tratamento dos dados

## Substitui os valores numéricos dos Estados para a legenda apropriada a leitura do dado.
df_out2020['Estado'] = df_out2020['Estado'].map({11:'Rondônia', 12:'Acre', 13:'Amazonas', 
                                                       14:'Roraima', 15:'Pará',16:'Amapá', 
                                                       17:'Tocantins', 21:'Maranhão', 22:'Piauí', 
                                                       23: 'Ceará', 24:'Rio Grande do Norte', 25:'Paraíba', 
                                                       26:'Pernambuco', 27: 'Alagoas', 28: 'Sergipe', 
                                                       29: 'Bahia', 31:'Minas Gerais', 32: 'Espírito Santo', 
                                                       33:'Rio de Janeiro',35:'São Paulo', 41: 'Paraná', 
                                                       42: 'Santa Catarina', 43: 'Rio Grande do Sul', 50:'Mato Grosso do Sul', 
                                                       51:'Mato Grosso',52:'Goiás', 53: 'Distrito Federal'}, na_action=None)

## Substitui os valor numérico do Mês para a legenda apropriada a leitura do dado.
df_out2020['Mes'] = df_out2020['Mes'].map({10:'Outubro'}, na_action=None)

## Substitui os valor da Área do município(Urbana ou Rural) para a legenda apropriada a leitura do dado.
df_out2020['Area'] = df_out2020['Area'].map({1:'Urbana', 2:'Rural'}, na_action=None)


## Substitui os valores numéricos do Sexo para a legenda apropriada a leitura do dado.
df_out2020['Sexo'] = df_out2020['Sexo'].map({1:'Homem', 2:'Mulher'}, na_action=None)

## Substitui os valores numéricos de Cor e Raça para a legenda apropriada a leitura do dado.
df_out2020['Cor_Raca'] = df_out2020['Cor_Raca'].map({1:'Branca', 2:'Preta', 3: 'Amarela', 
                                                    4: 'Parda', 5:'Indígena', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Febre para a legenda apropriada a leitura do dado.
df_out2020['Febre'] = df_out2020['Febre'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Tosse para a legenda apropriada a leitura do dado.
df_out2020['Tosse'] = df_out2020['Tosse'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Dificuldade respiratoria para a legenda apropriada a leitura do dado.
df_out2020['Dific_respiratoria'] = df_out2020['Dific_respiratoria'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)


## Substitui os valores numéricos sobre sintoma de perda de Cheiro ou sabor para a legenda apropriada a leitura do dado.
df_out2020['Cheiro_sabor'] = df_out2020['Cheiro_sabor'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre Plano de Saúde para a legenda apropriada a leitura do dado.
df_out2020['Plano_Saude'] = df_out2020['Plano_Saude'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre Teste de Covid para a legenda apropriada a leitura do dado.
df_out2020['Teste_Covid'] = df_out2020['Teste_Covid'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)


## Substitui os valores numéricos sobre Tempo de afastamento para a legenda apropriada a leitura do dado.
df_out2020['Tempo_afastamento'] = df_out2020['Tempo_afastamento'].map({1:'Menos de 1 mês', 
                                                           2:'De 1 mês a menos de 1 ano', 
                                                           3:'De 1 ano a menos de 2 anos', 
                                                           4:'2 anos ou mais',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Carac para a legenda apropriada a leitura do dado.
df_out2020['Carac_trabalho'] = df_out2020['Carac_trabalho'].map({1:'Trabalhador doméstico (empregado doméstico, cuidados, babá)',
                                                           2:'Militar do exercito, marinha ou aeronáutica', 
                                                           3:'Policial militar ou bombeiro mlilitar', 
                                                           4:'Empregado do setor privado',
                                                           5:'Empregado do setor público (inclusive empresas de economia mista)',
                                                           6:'Empregador',
                                                           7:'Conta própria',
                                                           8:'Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente',
                                                           9:'Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Motivo do afastamento para a legenda apropriada a leitura do dado.
df_out2020['Motivo_afastamento'] = df_out2020['Motivo_afastamento'].map({1:'Estava em quarentena, isolamento, distanciamento social ou férias coletivas', 
                                                                         2:'Férias, folga ou jornada de trabalho variável', 
                                                                         3:'Licença maternidade ou paternidade',
                                                                         4:'Licença remunerada por motivo de saúde ou acidente da própria pessoa',
                                                                         5:'Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.) ',
                                                                         6:'Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência',
                                                                         7:'Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)',
                                                                         8:'Outro motivo',
                                                                         np.nan:'Não aplicável'}, na_action=None)

# Cria o DataFrame do mês
df_out2020

,Estado,Mes,Area,Idade_Morador,Sexo,Cor_Raca,Febre,Tosse,Dific_respiratoria,Cheiro_sabor,Plano_Saude,Teste_Covid,Tempo_afastamento,Carac_trabalho,Motivo_afastamento
0,Rondônia,Outubro,Urbana,36,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Empregado do setor privado,Não aplicável
1,Rondônia,Outubro,Urbana,30,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Conta própria,Não aplicável
2,Rondônia,Outubro,Urbana,13,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
3,Rondônia,Outubro,Urbana,11,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
4,Rondônia,Outubro,Urbana,57,Mulher,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380456,Distrito Federal,Outubro,Rural,45,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Empregado do setor privado,"Estava em quarentena, isolamento, distanciamen..."
380457,Distrito Federal,Outubro,Rural,22,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Conta própria,"Estava em quarentena, isolamento, distanciamen..."
380458,Distrito Federal,Outubro,Rural,16,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
380459,Distrito Federal,Outubro,Rural,83,Homem,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
380460,Distrito Federal,Outubro,Rural,75,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável

## --> Novembro / 2020

In [12]:
# Constroi o DataFrame com as colunas selecionadas para o mês de Julho.
df_nov2020 = pd.DataFrame(nov2020,columns = ['UF', 'V1013', 'V1022', 'A002', 'A003', 'A004', 'B0011', 'B0012', 'B0014',
                                             'B00111','B007','B008', 'C005', 'C007', 'C003'])

# Renomear as colunas
df_nov2020 = df_nov2020.rename(columns = {'UF':'Estado', 
                                          'V1013':'Mes',
                                          'V1022':'Area',
                                          'A002':'Idade_Morador', 
                                          'A003':'Sexo',
                                          'A004':'Cor_Raca',
                                          'B0011':'Febre', 
                                          'B0012':'Tosse',
                                          'B0014':'Dific_respiratoria',
                                          'B00111':'Cheiro_sabor',
                                          'B007':'Plano_Saude',
                                          'B008':'Teste_Covid',
                                          'C005':'Tempo_afastamento', 
                                          'C007':'Carac_trabalho',
                                          'C003':'Motivo_afastamento'})

# Modelagem e Tratamento dos dados

## Substitui os valores numéricos dos Estados para a legenda apropriada a leitura do dado.
df_nov2020['Estado'] = df_nov2020['Estado'].map({11:'Rondônia', 12:'Acre', 13:'Amazonas', 
                                                       14:'Roraima', 15:'Pará',16:'Amapá', 
                                                       17:'Tocantins', 21:'Maranhão', 22:'Piauí', 
                                                       23: 'Ceará', 24:'Rio Grande do Norte', 25:'Paraíba', 
                                                       26:'Pernambuco', 27: 'Alagoas', 28: 'Sergipe', 
                                                       29: 'Bahia', 31:'Minas Gerais', 32: 'Espírito Santo', 
                                                       33:'Rio de Janeiro',35:'São Paulo', 41: 'Paraná', 
                                                       42: 'Santa Catarina', 43: 'Rio Grande do Sul', 50:'Mato Grosso do Sul', 
                                                       51:'Mato Grosso',52:'Goiás', 53: 'Distrito Federal'}, na_action=None)

## Substitui os valor numérico do Mês para a legenda apropriada a leitura do dado.
df_nov2020['Mes'] = df_nov2020['Mes'].map({10:'Outubro'}, na_action=None)

## Substitui os valor da Área do município(Urbana ou Rural) para a legenda apropriada a leitura do dado.
df_nov2020['Area'] = df_nov2020['Area'].map({1:'Urbana', 2:'Rural'}, na_action=None)


## Substitui os valores numéricos do Sexo para a legenda apropriada a leitura do dado.
df_nov2020['Sexo'] = df_nov2020['Sexo'].map({1:'Homem', 2:'Mulher'}, na_action=None)

## Substitui os valores numéricos de Cor e Raça para a legenda apropriada a leitura do dado.
df_nov2020['Cor_Raca'] = df_nov2020['Cor_Raca'].map({1:'Branca', 2:'Preta', 3: 'Amarela', 
                                                    4: 'Parda', 5:'Indígena', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Febre para a legenda apropriada a leitura do dado.
df_nov2020['Febre'] = df_nov2020['Febre'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Tosse para a legenda apropriada a leitura do dado.
df_nov2020['Tosse'] = df_nov2020['Tosse'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre sintoma de Dificuldade respiratoria para a legenda apropriada a leitura do dado.
df_nov2020['Dific_respiratoria'] = df_nov2020['Dific_respiratoria'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)


## Substitui os valores numéricos sobre sintoma de perda de Cheiro ou sabor para a legenda apropriada a leitura do dado.
df_nov2020['Cheiro_sabor'] = df_nov2020['Cheiro_sabor'].map({1:'Sim', 2:'Não', 3:'Não sabe'}, na_action=None)

## Substitui os valores numéricos sobre Plano de Saúde para a legenda apropriada a leitura do dado.
df_nov2020['Plano_Saude'] = df_nov2020['Plano_Saude'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)

## Substitui os valores numéricos sobre Teste de Covid para a legenda apropriada a leitura do dado.
df_nov2020['Teste_Covid'] = df_nov2020['Teste_Covid'].map({1:'Sim', 2:'Não', 9:'Ignorado'}, na_action=None)


## Substitui os valores numéricos sobre Tempo de afastamento para a legenda apropriada a leitura do dado.
df_nov2020['Tempo_afastamento'] = df_nov2020['Tempo_afastamento'].map({1:'Menos de 1 mês', 
                                                           2:'De 1 mês a menos de 1 ano', 
                                                           3:'De 1 ano a menos de 2 anos', 
                                                           4:'2 anos ou mais',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Carac para a legenda apropriada a leitura do dado.
df_nov2020['Carac_trabalho'] = df_nov2020['Carac_trabalho'].map({1:'Trabalhador doméstico (empregado doméstico, cuidados, babá)',
                                                           2:'Militar do exercito, marinha ou aeronáutica', 
                                                           3:'Policial militar ou bombeiro mlilitar', 
                                                           4:'Empregado do setor privado',
                                                           5:'Empregado do setor público (inclusive empresas de economia mista)',
                                                           6:'Empregador',
                                                           7:'Conta própria',
                                                           8:'Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente',
                                                           9:'Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)',
                                                          np.nan:'Não aplicável'}, na_action=None)

## Substitui os valores numéricos sobre Motivo do afastamento para a legenda apropriada a leitura do dado.
df_nov2020['Motivo_afastamento'] = df_nov2020['Motivo_afastamento'].map({1:'Estava em quarentena, isolamento, distanciamento social ou férias coletivas', 
                                                                         2:'Férias, folga ou jornada de trabalho variável', 
                                                                         3:'Licença maternidade ou paternidade',
                                                                         4:'Licença remunerada por motivo de saúde ou acidente da própria pessoa',
                                                                         5:'Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.) ',
                                                                         6:'Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência',
                                                                         7:'Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)',
                                                                         8:'Outro motivo',
                                                                         np.nan:'Não aplicável'}, na_action=None)

# Cria o DataFrame do mês
df_nov2020

,Estado,Mes,Area,Idade_Morador,Sexo,Cor_Raca,Febre,Tosse,Dific_respiratoria,Cheiro_sabor,Plano_Saude,Teste_Covid,Tempo_afastamento,Carac_trabalho,Motivo_afastamento
0,Rondônia,NaN,Urbana,36,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Empregado do setor privado,Não aplicável
1,Rondônia,NaN,Urbana,30,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Conta própria,Não aplicável
2,Rondônia,NaN,Urbana,13,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
3,Rondônia,NaN,Urbana,11,Homem,Parda,Não,Não,Não,Não,Sim,Não,Não aplicável,Não aplicável,Não aplicável
4,Rondônia,NaN,Urbana,57,Mulher,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381433,Distrito Federal,NaN,Rural,45,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Empregado do setor privado,"Estava em quarentena, isolamento, distanciamen..."
381434,Distrito Federal,NaN,Rural,22,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Conta própria,"Estava em quarentena, isolamento, distanciamen..."
381435,Distrito Federal,NaN,Rural,16,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
381436,Distrito Federal,NaN,Rural,83,Homem,Branca,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável
381437,Distrito Federal,NaN,Rural,75,Mulher,Parda,Não,Não,Não,Não,Não,Não,Não aplicável,Não aplicável,Não aplicável

## Análise Descritiva

### --> Por Estado

In [13]:
## Descrição da coluna Estado
df_jul2020['Estado'].value_counts(normalize=True).round(2)*100

São Paulo              9.0
Minas Gerais           9.0
Rio de Janeiro         8.0
Santa Catarina         6.0
Rio Grande do Sul      6.0
Paraná                 5.0
Maranhão               5.0
Bahia                  5.0
Ceará                  4.0
Pernambuco             4.0
Espírito Santo         4.0
Goiás                  4.0
Alagoas                3.0
Mato Grosso            3.0
Pará                   3.0
Paraíba                3.0
Amazonas               3.0
Mato Grosso do Sul     2.0
Piauí                  2.0
Rio Grande do Norte    2.0
Sergipe                2.0
Acre                   2.0
Distrito Federal       2.0
Rondônia               1.0
Roraima                1.0
Tocantins              1.0
Amapá                  1.0
Name: Estado, dtype: float64

In [14]:
## Descrição da coluna Estado
df_ago2020['Estado'].value_counts(normalize=True).round(2)*100

Minas Gerais           9.0
São Paulo              9.0
Rio de Janeiro         8.0
Santa Catarina         6.0
Rio Grande do Sul      6.0
Maranhão               5.0
Paraná                 5.0
Ceará                  5.0
Bahia                  4.0
Pernambuco             4.0
Espírito Santo         4.0
Goiás                  4.0
Mato Grosso            3.0
Alagoas                3.0
Pará                   3.0
Amazonas               3.0
Paraíba                3.0
Mato Grosso do Sul     2.0
Piauí                  2.0
Rio Grande do Norte    2.0
Sergipe                2.0
Acre                   2.0
Distrito Federal       2.0
Roraima                1.0
Tocantins              1.0
Rondônia               1.0
Amapá                  1.0
Name: Estado, dtype: float64

In [15]:
## Descrição da coluna Estado
df_set2020['Estado'].value_counts(normalize=True).round(2)*100

Minas Gerais           9.0
São Paulo              9.0
Rio de Janeiro         8.0
Santa Catarina         6.0
Rio Grande do Sul      6.0
Maranhão               5.0
Paraná                 5.0
Ceará                  5.0
Bahia                  5.0
Pernambuco             4.0
Espírito Santo         4.0
Goiás                  4.0
Pará                   3.0
Mato Grosso            3.0
Alagoas                3.0
Amazonas               3.0
Paraíba                3.0
Mato Grosso do Sul     2.0
Piauí                  2.0
Sergipe                2.0
Rio Grande do Norte    2.0
Acre                   2.0
Distrito Federal       2.0
Roraima                1.0
Tocantins              1.0
Rondônia               1.0
Amapá                  1.0
Name: Estado, dtype: float64

In [16]:
## Descrição da coluna Estado
df_out2020['Estado'].value_counts(normalize=True).round(2)*100

Minas Gerais           9.0
São Paulo              9.0
Rio de Janeiro         8.0
Santa Catarina         6.0
Rio Grande do Sul      6.0
Maranhão               5.0
Paraná                 5.0
Pernambuco             4.0
Ceará                  4.0
Bahia                  4.0
Espírito Santo         4.0
Goiás                  4.0
Pará                   3.0
Alagoas                3.0
Mato Grosso            3.0
Amazonas               3.0
Paraíba                3.0
Mato Grosso do Sul     2.0
Piauí                  2.0
Sergipe                2.0
Rio Grande do Norte    2.0
Distrito Federal       2.0
Acre                   2.0
Roraima                1.0
Rondônia               1.0
Tocantins              1.0
Amapá                  1.0
Name: Estado, dtype: float64

In [17]:
## Descrição da coluna Estado
df_nov2020['Estado'].value_counts(normalize=True).round(2)*100

Minas Gerais           9.0
São Paulo              8.0
Rio de Janeiro         8.0
Santa Catarina         6.0
Rio Grande do Sul      6.0
Maranhão               5.0
Paraná                 5.0
Pernambuco             4.0
Bahia                  4.0
Ceará                  4.0
Espírito Santo         4.0
Goiás                  4.0
Pará                   3.0
Alagoas                3.0
Mato Grosso            3.0
Amazonas               3.0
Paraíba                3.0
Mato Grosso do Sul     2.0
Piauí                  2.0
Sergipe                2.0
Rio Grande do Norte    2.0
Distrito Federal       2.0
Acre                   2.0
Rondônia               2.0
Roraima                1.0
Tocantins              1.0
Amapá                  1.0
Name: Estado, dtype: float64

## --> Area (Urbana ou Rural)

In [18]:
## Descrição da coluna Estado
df_jul2020['Area'].value_counts(normalize=True).round(4)*100

Urbana    76.29
Rural     23.71
Name: Area, dtype: float64

In [19]:
## Descrição da coluna Estado
df_ago2020['Area'].value_counts(normalize=True).round(4)*100

Urbana    76.03
Rural     23.97
Name: Area, dtype: float64

In [20]:
## Descrição da coluna Estado
df_set2020['Area'].value_counts(normalize=True).round(4)*100

Urbana    76.01
Rural     23.99
Name: Area, dtype: float64

In [21]:
## Descrição da coluna Estado
df_out2020['Area'].value_counts(normalize=True).round(4)*100

Urbana    76.14
Rural     23.86
Name: Area, dtype: float64

In [22]:
## Descrição da coluna Estado
df_nov2020['Area'].value_counts(normalize=True).round(4)*100

Urbana    76.33
Rural     23.67
Name: Area, dtype: float64

## --> Idade por Mês

In [23]:
# Contagem de pessoas entrevistadas agrupados por idade.
classe = [0,9,19,29,59,120]
labels = ['0 a 9 anos', '10 a 19 anos', '20 a 29 anos', '30 a 59 anos','Acima de 60']
idade = pd.cut(df_jul2020.Idade_Morador, classe, labels=labels, include_lowest = True)
pd.value_counts(idade)

30 a 59 anos    161974
Acima de 60      66253
10 a 19 anos     56983
20 a 29 anos     53004
0 a 9 anos       45952
Name: Idade_Morador, dtype: int64

In [24]:
# Contagem de pessoas entrevistadas agrupados por idade.
classe = [0,9,19,29,59,120]
labels = ['0 a 9 anos', '10 a 19 anos', '20 a 29 anos', '30 a 59 anos','Acima de 60']
idade = pd.cut(df_ago2020.Idade_Morador, classe, labels=labels, include_lowest = True)
pd.value_counts(idade)

30 a 59 anos    162746
Acima de 60      67106
10 a 19 anos     57229
20 a 29 anos     53094
0 a 9 anos       46345
Name: Idade_Morador, dtype: int64

In [25]:
# Contagem de pessoas entrevistadas agrupados por idade.
classe = [0,9,19,29,59,120]
labels = ['0 a 9 anos', '10 a 19 anos', '20 a 29 anos', '30 a 59 anos','Acima de 60']
idade = pd.cut(df_set2020.Idade_Morador, classe, labels=labels, include_lowest = True)
pd.value_counts(idade)

30 a 59 anos    162986
Acima de 60      67656
10 a 19 anos     57302
20 a 29 anos     53150
0 a 9 anos       46204
Name: Idade_Morador, dtype: int64

In [26]:
# Contagem de pessoas entrevistadas agrupados por idade.
classe = [0,9,19,29,59,120]
labels = ['0 a 9 anos', '10 a 19 anos', '20 a 29 anos', '30 a 59 anos','Acima de 60']
idade = pd.cut(df_out2020.Idade_Morador, classe, labels=labels, include_lowest = True)
pd.value_counts(idade)

30 a 59 anos    160349
Acima de 60      67093
10 a 19 anos     56196
20 a 29 anos     51917
0 a 9 anos       44906
Name: Idade_Morador, dtype: int64

In [27]:
# Contagem de pessoas entrevistadas agrupados por idade.
classe = [0,9,19,29,59,120]
labels = ['0 a 9 anos', '10 a 19 anos', '20 a 29 anos', '30 a 59 anos','Acima de 60']
idade = pd.cut(df_nov2020.Idade_Morador, classe, labels=labels, include_lowest = True)
pd.value_counts(idade)

30 a 59 anos    161061
Acima de 60      67587
10 a 19 anos     56284
20 a 29 anos     51744
0 a 9 anos       44762
Name: Idade_Morador, dtype: int64

## Sexo por mês

In [28]:
## Descrição da coluna Estado
df_jul2020['Sexo'].value_counts(normalize=True).round(4)*100

Mulher    51.99
Homem     48.01
Name: Sexo, dtype: float64

In [29]:
## Descrição da coluna Estado
df_ago2020['Sexo'].value_counts(normalize=True).round(4)*100

Mulher    51.99
Homem     48.01
Name: Sexo, dtype: float64

In [30]:
## Descrição da coluna Estado
df_set2020['Sexo'].value_counts(normalize=True).round(4)*100

Mulher    52.04
Homem     47.96
Name: Sexo, dtype: float64

In [31]:
## Descrição da coluna Estado
df_out2020['Sexo'].value_counts(normalize=True).round(4)*100

Mulher    52.08
Homem     47.92
Name: Sexo, dtype: float64

In [32]:
## Descrição da coluna Estado
df_nov2020['Sexo'].value_counts(normalize=True).round(4)*100

Mulher    52.13
Homem     47.87
Name: Sexo, dtype: float64

## Cor e Raça por mês

In [33]:
## Descrição da coluna Estado
df_jul2020['Cor_Raca'].value_counts(normalize=True).round(4)*100

Parda       49.06
Branca      41.75
Preta        8.17
Amarela      0.62
Indígena     0.38
Ignorado     0.03
Name: Cor_Raca, dtype: float64

In [34]:
## Descrição da coluna Estado
df_ago2020['Cor_Raca'].value_counts(normalize=True).round(4)*100

Parda       48.97
Branca      41.82
Preta        8.19
Amarela      0.60
Indígena     0.39
Ignorado     0.03
Name: Cor_Raca, dtype: float64

In [35]:
## Descrição da coluna Estado
df_set2020['Cor_Raca'].value_counts(normalize=True).round(4)*100

Parda       49.07
Branca      41.73
Preta        8.20
Amarela      0.59
Indígena     0.38
Ignorado     0.02
Name: Cor_Raca, dtype: float64

In [36]:
## Descrição da coluna Estado
df_out2020['Cor_Raca'].value_counts(normalize=True).round(4)*100

Parda       48.97
Branca      41.81
Preta        8.22
Amarela      0.58
Indígena     0.40
Ignorado     0.02
Name: Cor_Raca, dtype: float64

In [37]:
## Descrição da coluna Estado
df_nov2020['Cor_Raca'].value_counts(normalize=True).round(4)*100

Parda       49.01
Branca      41.75
Preta        8.23
Amarela      0.59
Indígena     0.39
Ignorado     0.03
Name: Cor_Raca, dtype: float64

## Sintomas de Febre por mês.

In [38]:
## Descrição da coluna Estado
df_jul2020['Febre'].value_counts(normalize=True).round(4)*100

Não         98.40
Sim          1.52
Não sabe     0.08
Name: Febre, dtype: float64

In [39]:
## Descrição da coluna Estado
df_ago2020['Febre'].value_counts(normalize=True).round(4)*100

Não         98.64
Sim          1.27
Não sabe     0.09
Name: Febre, dtype: float64

In [40]:
## Descrição da coluna Estado
df_set2020['Febre'].value_counts(normalize=True).round(4)*100

Não         99.15
Sim          0.80
Não sabe     0.06
Name: Febre, dtype: float64

In [41]:
## Descrição da coluna Estado
df_out2020['Febre'].value_counts(normalize=True).round(4)*100

Não         99.21
Sim          0.73
Não sabe     0.06
Name: Febre, dtype: float64

In [42]:
## Descrição da coluna Estado
df_nov2020['Febre'].value_counts(normalize=True).round(4)*100

Não         99.11
Sim          0.83
Não sabe     0.05
Name: Febre, dtype: float64

## Sintomas de Tosse por mês

In [43]:
## Descrição da coluna Estado
df_jul2020['Tosse'].value_counts(normalize=True).round(4)*100

Não         97.70
Sim          2.22
Não sabe     0.08
Name: Tosse, dtype: float64

In [44]:
## Descrição da coluna Estado
df_ago2020['Tosse'].value_counts(normalize=True).round(4)*100

Não         97.87
Sim          2.04
Não sabe     0.08
Name: Tosse, dtype: float64

In [45]:
## Descrição da coluna Estado
df_set2020['Tosse'].value_counts(normalize=True).round(4)*100

Não         98.51
Sim          1.44
Não sabe     0.06
Name: Tosse, dtype: float64

In [46]:
## Descrição da coluna Estado
df_out2020['Tosse'].value_counts(normalize=True).round(4)*100

Não         98.74
Sim          1.21
Não sabe     0.06
Name: Tosse, dtype: float64

In [47]:
## Descrição da coluna Estado
df_nov2020['Tosse'].value_counts(normalize=True).round(4)*100

Não         98.56
Sim          1.38
Não sabe     0.06
Name: Tosse, dtype: float64

## Sintomas de dificuldade respiratórias por mês

In [48]:
## Descrição da coluna Estado
df_jul2020['Dific_respiratoria'].value_counts(normalize=True).round(4)*100

Não         99.12
Sim          0.80
Não sabe     0.08
Name: Dific_respiratoria, dtype: float64

In [49]:
## Descrição da coluna Estado
df_ago2020['Dific_respiratoria'].value_counts(normalize=True).round(4)*100

Não         99.25
Sim          0.66
Não sabe     0.09
Name: Dific_respiratoria, dtype: float64

In [50]:
## Descrição da coluna Estado
df_set2020['Dific_respiratoria'].value_counts(normalize=True).round(4)*100

Não         99.47
Sim          0.47
Não sabe     0.06
Name: Dific_respiratoria, dtype: float64

In [51]:
## Descrição da coluna Estado
df_out2020['Dific_respiratoria'].value_counts(normalize=True).round(4)*100

Não         99.56
Sim          0.38
Não sabe     0.06
Name: Dific_respiratoria, dtype: float64

In [52]:
## Descrição da coluna Estado
df_nov2020['Dific_respiratoria'].value_counts(normalize=True).round(4)*100

Não         99.54
Sim          0.40
Não sabe     0.06
Name: Dific_respiratoria, dtype: float64

## Sintomas de falta de paladar e olfato por mês

In [53]:
## Descrição da coluna Estado
df_jul2020['Cheiro_sabor'].value_counts(normalize=True).round(4)*100

Não         99.02
Sim          0.89
Não sabe     0.09
Name: Cheiro_sabor, dtype: float64

In [54]:
## Descrição da coluna Estado
df_ago2020['Cheiro_sabor'].value_counts(normalize=True).round(4)*100

Não         99.23
Sim          0.67
Não sabe     0.10
Name: Cheiro_sabor, dtype: float64

In [55]:
## Descrição da coluna Estado
df_set2020['Cheiro_sabor'].value_counts(normalize=True).round(4)*100

Não         99.51
Sim          0.42
Não sabe     0.07
Name: Cheiro_sabor, dtype: float64

In [56]:
## Descrição da coluna Estado
df_out2020['Cheiro_sabor'].value_counts(normalize=True).round(4)*100

Não         99.59
Sim          0.35
Não sabe     0.06
Name: Cheiro_sabor, dtype: float64

In [57]:
## Descrição da coluna Estado
df_nov2020['Cheiro_sabor'].value_counts(normalize=True).round(4)*100

Não         99.56
Sim          0.39
Não sabe     0.06
Name: Cheiro_sabor, dtype: float64

## O Entrevistado tem plano de Saúde por mês

In [58]:
## Descrição da coluna Estado
df_jul2020['Plano_Saude'].value_counts(normalize=True).round(4)*100

Não         76.87
Sim         22.61
Ignorado     0.51
Name: Plano_Saude, dtype: float64

In [59]:
## Descrição da coluna Estado
df_ago2020['Plano_Saude'].value_counts(normalize=True).round(4)*100

Não         77.45
Sim         22.06
Ignorado     0.49
Name: Plano_Saude, dtype: float64

In [60]:
## Descrição da coluna Estado
df_set2020['Plano_Saude'].value_counts(normalize=True).round(4)*100

Não         77.25
Sim         22.46
Ignorado     0.29
Name: Plano_Saude, dtype: float64

In [61]:
## Descrição da coluna Estado
df_out2020['Plano_Saude'].value_counts(normalize=True).round(4)*100

Não         77.11
Sim         22.70
Ignorado     0.19
Name: Plano_Saude, dtype: float64

In [62]:
## Descrição da coluna Estado
df_nov2020['Plano_Saude'].value_counts(normalize=True).round(4)*100

Não         76.99
Sim         22.85
Ignorado     0.17
Name: Plano_Saude, dtype: float64

## Teste de COVID-19 por mês

In [63]:
## Descrição da coluna Estado
df_jul2020['Teste_Covid'].value_counts(normalize=True).round(4)*100

Não         93.32
Sim          6.16
Ignorado     0.52
Name: Teste_Covid, dtype: float64

In [64]:
## Descrição da coluna Estado
df_ago2020['Teste_Covid'].value_counts(normalize=True).round(4)*100

Não         91.29
Sim          8.20
Ignorado     0.51
Name: Teste_Covid, dtype: float64

In [65]:
## Descrição da coluna Estado
df_set2020['Teste_Covid'].value_counts(normalize=True).round(4)*100

Não         89.61
Sim         10.10
Ignorado     0.29
Name: Teste_Covid, dtype: float64

In [66]:
## Descrição da coluna Estado
df_out2020['Teste_Covid'].value_counts(normalize=True).round(4)*100

Não         88.12
Sim         11.71
Ignorado     0.18
Name: Teste_Covid, dtype: float64

In [67]:
## Descrição da coluna Estado
df_nov2020['Teste_Covid'].value_counts(normalize=True).round(4)*100

Não         86.77
Sim         13.07
Ignorado     0.16
Name: Teste_Covid, dtype: float64

## Afastamento do trabalho por mês

In [68]:
## Descrição da coluna Estado
df_jul2020['Tempo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                 96.79
De 1 mês a menos de 1 ano      2.70
Menos de 1 mês                 0.42
2 anos ou mais                 0.05
De 1 ano a menos de 2 anos     0.04
Name: Tempo_afastamento, dtype: float64

In [69]:
## Descrição da coluna Estado
df_ago2020['Tempo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                 97.54
De 1 mês a menos de 1 ano      2.06
Menos de 1 mês                 0.32
2 anos ou mais                 0.05
De 1 ano a menos de 2 anos     0.03
Name: Tempo_afastamento, dtype: float64

In [70]:
## Descrição da coluna Estado
df_set2020['Tempo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                 97.98
De 1 mês a menos de 1 ano      1.66
Menos de 1 mês                 0.28
2 anos ou mais                 0.05
De 1 ano a menos de 2 anos     0.03
Name: Tempo_afastamento, dtype: float64

In [71]:
## Descrição da coluna Estado
df_out2020['Tempo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                 98.33
De 1 mês a menos de 1 ano      1.36
Menos de 1 mês                 0.23
2 anos ou mais                 0.05
De 1 ano a menos de 2 anos     0.03
Name: Tempo_afastamento, dtype: float64

In [72]:
## Descrição da coluna Estado
df_nov2020['Tempo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                 98.46
De 1 mês a menos de 1 ano      1.22
Menos de 1 mês                 0.24
2 anos ou mais                 0.05
De 1 ano a menos de 2 anos     0.03
Name: Tempo_afastamento, dtype: float64

## Caracteristica do Trabalho por mês

In [73]:
## Descrição da coluna Estado
df_jul2020['Carac_trabalho'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                  61.58
Empregado do setor privado                                                                                                     15.93
Conta própria                                                                                                                  11.30
Empregado do setor público (inclusive empresas de economia mista)                                                               5.68
Trabalhador doméstico (empregado doméstico, cuidados, babá)                                                                     1.91
Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)     1.25
Empregador                                                                                                                      1.16
Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente                                                   0.86
Policial militar ou bombeiro mlilitar                                                                                           0.18
Militar do exercito, marinha ou aeronáutica                                                                                     0.16
Name: Carac_trabalho, dtype: float64

In [74]:
## Descrição da coluna Estado
df_ago2020['Carac_trabalho'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                  61.36
Empregado do setor privado                                                                                                     15.95
Conta própria                                                                                                                  11.36
Empregado do setor público (inclusive empresas de economia mista)                                                               5.71
Trabalhador doméstico (empregado doméstico, cuidados, babá)                                                                     1.91
Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)     1.34
Empregador                                                                                                                      1.17
Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente                                                   0.88
Policial militar ou bombeiro mlilitar                                                                                           0.17
Militar do exercito, marinha ou aeronáutica                                                                                     0.15
Name: Carac_trabalho, dtype: float64

In [75]:
## Descrição da coluna Estado
df_set2020['Carac_trabalho'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                  61.07
Empregado do setor privado                                                                                                     16.07
Conta própria                                                                                                                  11.48
Empregado do setor público (inclusive empresas de economia mista)                                                               5.72
Trabalhador doméstico (empregado doméstico, cuidados, babá)                                                                     1.91
Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)     1.35
Empregador                                                                                                                      1.17
Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente                                                   0.90
Policial militar ou bombeiro mlilitar                                                                                           0.18
Militar do exercito, marinha ou aeronáutica                                                                                     0.15
Name: Carac_trabalho, dtype: float64

In [76]:
## Descrição da coluna Estado
df_out2020['Carac_trabalho'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                  60.62
Empregado do setor privado                                                                                                     16.36
Conta própria                                                                                                                  11.62
Empregado do setor público (inclusive empresas de economia mista)                                                               5.73
Trabalhador doméstico (empregado doméstico, cuidados, babá)                                                                     1.94
Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)     1.36
Empregador                                                                                                                      1.16
Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente                                                   0.89
Policial militar ou bombeiro mlilitar                                                                                           0.17
Militar do exercito, marinha ou aeronáutica                                                                                     0.15
Name: Carac_trabalho, dtype: float64

In [77]:
## Descrição da coluna Estado
df_nov2020['Carac_trabalho'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                  60.43
Empregado do setor privado                                                                                                     16.43
Conta própria                                                                                                                  11.68
Empregado do setor público (inclusive empresas de economia mista)                                                               5.74
Trabalhador doméstico (empregado doméstico, cuidados, babá)                                                                     1.97
Estava fora do mercado de trabalho (fazia apenas afazeres domésticos, cuidados de pessoas ou produção para próprio consumo)     1.34
Empregador                                                                                                                      1.15
Trabalhador familiar não remunerado em ajuda a membro do domicílio ou parente                                                   0.91
Policial militar ou bombeiro mlilitar                                                                                           0.18
Militar do exercito, marinha ou aeronáutica                                                                                     0.15
Name: Carac_trabalho, dtype: float64

## Trabalho Remoto por mês

In [78]:
## Descrição da coluna Estado
df_jul2020['Motivo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                            93.75
Estava em quarentena, isolamento, distanciamento social ou férias coletivas                                                               4.66
Férias, folga ou jornada de trabalho variável                                                                                             0.49
Licença remunerada por motivo de saúde ou acidente da própria pessoa                                                                      0.40
Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência     0.22
Outro motivo                                                                                                                              0.22
Licença maternidade ou paternidade                                                                                                        0.13
Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)                                                             0.10
Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.)                                                   0.03
Name: Motivo_afastamento, dtype: float64

In [79]:
## Descrição da coluna Estado
df_ago2020['Motivo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                            95.13
Estava em quarentena, isolamento, distanciamento social ou férias coletivas                                                               3.44
Licença remunerada por motivo de saúde ou acidente da própria pessoa                                                                      0.39
Férias, folga ou jornada de trabalho variável                                                                                             0.36
Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência     0.21
Outro motivo                                                                                                                              0.19
Licença maternidade ou paternidade                                                                                                        0.13
Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)                                                             0.10
Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.)                                                   0.04
Name: Motivo_afastamento, dtype: float64

In [80]:
## Descrição da coluna Estado
df_set2020['Motivo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                            95.91
Estava em quarentena, isolamento, distanciamento social ou férias coletivas                                                               2.72
Licença remunerada por motivo de saúde ou acidente da própria pessoa                                                                      0.38
Férias, folga ou jornada de trabalho variável                                                                                             0.32
Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência     0.21
Outro motivo                                                                                                                              0.20
Licença maternidade ou paternidade                                                                                                        0.12
Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)                                                             0.09
Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.)                                                   0.04
Name: Motivo_afastamento, dtype: float64

In [81]:
## Descrição da coluna Estado
df_out2020['Motivo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                            96.49
Estava em quarentena, isolamento, distanciamento social ou férias coletivas                                                               2.16
Licença remunerada por motivo de saúde ou acidente da própria pessoa                                                                      0.39
Férias, folga ou jornada de trabalho variável                                                                                             0.31
Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência     0.21
Outro motivo                                                                                                                              0.19
Licença maternidade ou paternidade                                                                                                        0.11
Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)                                                             0.09
Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.)                                                   0.04
Name: Motivo_afastamento, dtype: float64

In [82]:
## Descrição da coluna Estado
df_nov2020['Motivo_afastamento'].value_counts(normalize=True).round(4)*100

Não aplicável                                                                                                                            96.74
Estava em quarentena, isolamento, distanciamento social ou férias coletivas                                                               1.91
Licença remunerada por motivo de saúde ou acidente da própria pessoa                                                                      0.40
Férias, folga ou jornada de trabalho variável                                                                                             0.30
Afastamento do próprio negócio/empresa por motivo de gestação, saúde, acidente, etc., sem ser remunerado por instituto de previdência     0.23
Outro motivo                                                                                                                              0.19
Licença maternidade ou paternidade                                                                                                        0.11
Fatores ocasionais (mau tempo, paralisação nos serviços de transportes, etc.)                                                             0.09
Outro tipo de licença remunerada (estudo, paternidade, casamento, licença prêmio, etc.)                                                   0.03
Name: Motivo_afastamento, dtype: float64

## Exportar arquivo para CSV para Construção de Dashboard no PowerBI

In [83]:
df_jul2020.to_csv(r'dados/df_jul2020.csv', index = False)

In [84]:
df_ago2020.to_csv(r'dados/df_ago2020.csv', index = False)

In [85]:
df_set2020.to_csv(r'dados/df_set2020.csv', index = False)

In [86]:
df_out2020.to_csv(r'dados/df_out2020.csv', index = False)

In [87]:
df_nov2020.to_csv(r'dados/df_nov2020.csv', index = False)

### Bibliografia

BRASIL. IBGE. . Pesquisa Nacional por Amostra de Domicílios. 2020. Disponível em: https://www.ibge.gov.br/estatisticas/sociais/saude/27947-divulgacao-mensal- pnadcovid2.html?edicao=28351&t=downloadsArquivos:. Acesso em: 27 fev. 2022.

BRASIL. MINISTÉRIO DA SAÚDE. . Coronavirus. 2021. Disponível em: https://www.gov.br/saude/pt-br/coronavirus/o-que-e-o-coronavirus. Acesso em: 27 fev. 2022.

WHO - World Health Organization. Coronavirus disease (COVID-19): symptoms. Symptoms. 2022. Disponível em: https://www.who.int/health-topics/coronavirus#tab=tab_3. Acesso em: 02 mar. 2022.